<%- include("partials/header.ejs") -%>



<div class="Search">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <form class="place d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="space btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

  </div>

<%- include("partials/footer.ejs") -%>
